::ng-deep .mat-dialog-container{
    padding: 0 !important;
}
:host ::ng-deep .mat-card:not([class*=mat-elevation-z]){
    box-shadow: none;
}
.mat_1{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    background-color: white;
    font-family: 'Nunito', sans-serif !important;
}
.main_div{
    display: flex; 
    flex-direction: row;
     justify-content: space-between;
     font-family: 'Nunito', sans-serif !important;
}
.mat_1{
    width: 60%;
    font-family: 'Nunito', sans-serif !important;
}
.mat_2{
    width: 280px;
     margin-right: 5px;
      display: flex; 
      flex-direction: column;
        justify-content: center;
         align-self: center;
         font-family: 'Nunito', sans-serif !important;
}
.heading{
    color: black;
     font-size: 40px;
     margin-top: 40px !important;
     margin-bottom: 20px !important;
     font-family: 'Nunito', sans-serif !important;
}
button{
    font-family: 'Nunito', sans-serif !important;
}

.dscp{
    font-size: 18px;
     width: 100% !important; 
     font-family: 'Nunito', sans-serif !important; 
     display: block;
    white-space: pre-line;
}
@media (min-width: 300px) and (max-width: 900px) {
    .main_div{
        display: flex; 
        flex-direction: column;
         justify-content: space-between;
    } 
    .mat_1{
        width: 100% !important;
        text-align: center;
    }
    .mat_2{
        width: 280px;
         margin-right:5px;
      display: flex; 
     flex-direction: column;
      justify-content: center;
     align-self: center;
    }
}

@media (max-width: 500px){
    
        .heading{
            color: black;
             font-size: 20px;
             margin-top: 20px !important;
             margin-bottom: 10px !important;
        }
        .dscp{
            font-size: 15px;
           
        }
    
}