::ng-deep .mat-dialog-container{
    padding: 0 !important;
}
:host ::ng-deep .mat-card:not([class*=mat-elevation-z]){
    box-shadow: none;
}
.mat_1{
    display: flex;
    flex-direction: column; 
    //font-family: 'Yeseva One', cursive;
    background-color: transparent;
    justify-content: space-around;;
   
}
.main_div{
    display: flex; 
    flex-direction: row;
     justify-content: space-between;
     font-family: 'Poppins', sans-serif !important;
     margin-top: 70px;
}
.mat_1{
    width: 60%;
  
}
.mat_2{
    width: 400px;
     margin-right: 5px;
      display: flex; 
      flex-direction: column;
        justify-content: center;
         align-self: center;
       
}
.heading{
    color: black;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 5px !important;
     
}
// button{
    
// }
.mat_btn{
    padding: 0;
    background-color: transparent !important;
   
}

.dscp{
    font-size: medium;
     width: 100% !important; 
     display: block;
    white-space: pre-line;
}
.btn_main_div{
    display: flex;
    flex-direction: row ;
}

.mat_topic_btn{
     display: flex;
     flex-direction: row; 
     justify-content: start;
     background-color: rgba(234, 234, 241, 0.34);
     height: auto; 
     margin-bottom: 20px;
     width: 100%;    
}

.content{
    display: flex;
     flex-direction: row;
      justify-content: start;
}

.card_1{
    background-color: rgb(195, 174, 243);
    box-shadow: 0 0 3em rgba(0,0,0,0.15);
    border-radius: 5px;
     width: 50%; 
     font-family: 'Poppins', sans-serif !important;
     margin: 10px;
}

.card_2{
    background-color:#e05915;
    color: white;
     width: 50%;
      font-family: 'Poppins', sans-serif !important;
      margin: 10px;
}
.tags{
    width: 100%;
    margin-top: -50px;
}

@media (min-width: 300px) and (max-width: 900px) {
    .main_div{
        display: flex; 
        flex-direction: column;
         justify-content: space-between;
         margin-top: 50px;
    } 
    .mat_1{
        width: 100% !important;
        text-align: center;
    }
    .mat_2 {
        width: 290px;
         margin-right:5px;
      display: flex; 
     flex-direction: column;
      justify-content: center;
     align-self: center;
    }
    .tags{
        width: 100%;
        margin-top: 0px;
    }

   
}

@media (max-width: 550px){
    
        .heading{
            color: black;
             font-size: 17px;
             margin-top: 2px !important;
            //  margin-bottom: 10px !important;
             margin: 0px;
             
        }
        .dscp{
            font-size: medium;
           
        }
        .btn_main_div{
            display: flex;
            flex-direction: column ;
            justify-content: center;
        }
        .btn_admn{
           
            margin: 5px;
        }
        .slt_pht ,.add_vid{
            width: 98%;
            
        }
        .mat_btn{
            justify-content: center;
            margin: 5px;
            padding-top: 50px;
        }
        .mat_topic_btn{
            justify-content: center;
            margin: 5px;
        }
       
        .vid_btn{
            width: auto;
            text-align: center;
            padding: 5px;
        }
       

    
}

@media(min-width: 500px) and (max-width: 1000px){
    .heading{
        font-size: 25px;     
    }  
}
@media(min-width: 1000px) and (max-width: 1150px){
    .heading{   
         font-size: 30px;     
    }  
}

@media (max-width: 350px){
   .btn_admn{
     
    
     font-size: 12px;
     
   }
 
}

@media (max-width:1100px){
    .btn_main_div{
        display: flex;
        flex-direction: column ;
        justify-content: center;
    }
    .content{
        display: flex;
         flex-direction: column;
          justify-content: start;
    }
    
    .card_1{
        background-color: rgb(195, 174, 243);
         width: 95%; 
         font-family: 'Poppins', sans-serif !important;
    }
    
    .card_2{
        background-color:#e05915;
         width: 95%;
          font-family: 'Poppins', sans-serif !important;
         
    }
}
::ng-deep.container1{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
::ng-deep.layout-box1{
    background: #3f51b5;
    padding: 2rem 3rem;
    box-shadow: 0 0 3em rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
