<div>
    <br>
    <div *ngIf="(this.auth.currentUser | async) != null" style="margin-top: 70px;">
        <mat-toolbar *ngIf="(this.auth.currentUser | async).roles.includes('ADMIN')"
       class="mat_1">
        <!-- <div *ngIf="(currentCourse | async).subscription != undefined">
            Cost: {{((currentCourse | async).subscription).amount}}
        </div> -->
        <div style="margin-top: 400px;">
            <button mat-raised-button color="primary" style="margin: 5px;"
            (click)="openAddTopic()"> Add Topic</button>
            <button mat-stroked-button color="primary" style="margin: 5px;"
            (click)="openAddSubscription()"> Set Cost</button>
            <button mat-stroked-button *ngIf="(currentCourse | async).active === null 
            || (currentCourse | async).active === false"
            style="margin: 5px;background-color: rgb(6, 150, 47); color: white;"
            (click)="publishCourse(true)"> Publish</button>
            
            <button mat-stroked-button *ngIf="(currentCourse | async).active === true"
            style="margin: 5px;background-color: rgb(206, 11, 11); color: white;"
            (click)="publishCourse(false)"> Deactivate </button>
            <button *ngIf="!fileadded" mat-stroked-button color="primary" (click)="file.click()">
                select cover photo
            </button>
            <input type="file" #file hidden (change)=addImg($event)>
            <button *ngIf="fileadded" mat-raised-button color="primary" (click)="uploadCoverPic()">
                upload cover photo
            </button>
            <button *ngIf="fileadded" mat-stroked-button color="warn" (click)="emptyFileContent()"><mat-icon>close</mat-icon></button>


        </div> 
 
        </mat-toolbar> 
    </div>
    <div *ngIf="(this.auth.currentUser | async) == undefined">
        <mat-toolbar
            style="display: flex; flex-direction: row; justify-content: flex-end;
            ">
        <!-- <button mat-stroked-button style="margin: 5px; 
        background-color: rgb(6, 150, 47); color: white;"> Subscribe</button>-->

        </mat-toolbar>
    </div>
    <div class="main_div">
        <mat-card  class="mat_1">
            <span class="heading">{{(currentCourse | async).title}}</span>
        </mat-card>
        <mat-card class="mat_2"  [class.mat-elevation-z8]="true" 
        *ngIf="(currentCourse | async).subscription != undefined">
               <span style="font-size: 25px;">
                Cost: {{((currentCourse | async).subscription).amount}}</span> 
               
               <button mat-stroked-button style="margin: 5px; margin-top: 20px; 
               background-color: rgb(6, 150, 47); color: white;"
               (click)="navigateToSubscription()"> Subscribe</button>

                <button mat-stroked-button style="margin: 5px; margin-top: 20px; 
                background-color: plum; color: white;"
                *ngIf="courseSubscrible"
                (click)="navigateToSubscription()" [disabled]="true">Alredy Subscribed</button>

        </mat-card>

    </div>
    <br><br><br><br>
    <mat-card style="background-color: aliceblue; width: 100%;">
        <span class="dscp">
            {{(currentCourse | async).dscp}}
        </span>
    </mat-card>
    <br><br><br><br>
    <!-- <span style="font-size: 30px;">Topics</span> -->
    <div *ngFor="let topic of (currentCourse | async).topics">
        <div style="display: flex; flex-direction: column; margin-bottom: 25px;">
            <h1>{{topic.title}}</h1>
            <div *ngIf="(this.auth.currentUser | async) != null">
                <mat-toolbar style="display: flex; flex-direction: row; justify-content: start;
                background-color: rgba(234, 234, 241, 0.34); width: 100%;"
                *ngIf="(this.auth.currentUser | async).roles.includes('ADMIN')">
                    
                    <button mat-raised-button  *ngIf="topic.active"
                    style="margin: 10px;background-color: rgb(206, 11, 11); color: white;"
                    (click)="changeStatusOfTopic(topic, false)"> Deactivate</button>
                    <button mat-raised-button color="primary"
                    *ngIf="!topic.active" style="margin: 10px;"
                    (click)="changeStatusOfTopic(topic, true)"> Activate</button>
                    <button mat-raised-button color="warn" style="margin: 10px;"
                    (click)="deleteTopic(topic)"> Delete </button>
                    <button mat-stroked-button color="primary" style="margin: 10px;"> Edit </button>
                    <button mat-stroked-button style="margin: 10px;
                    background-color: rgb(5, 169, 5);color: white;"> Add Video </button>

                </mat-toolbar>
            </div>
            <mat-card>
                <h3>{{topic.dscp}}</h3>
                <div *ngFor="let vid of topic.videolink">
                    <div *ngIf="(this.auth.currentUser | async) != null">
                        <mat-card [class.mat-elevation-z8]="true" style="margin: 10px;">
                            <mat-toolbar style="width: 50%; background-color: white;"
                            *ngIf="(this.auth.currentUser | async).roles.includes('ADMIN')">
                                <button mat-stroked-button color="primary"
                                *ngIf="!vid.active" (click)="changeVideoStatus(vid, true)"> Activate</button>
                                <button mat-raised-button style="background-color: rgb(206, 11, 11); color: white;"
                                *ngIf="vid.active" (click)="changeVideoStatus(vid, false)"> Deactivate</button>
                                <button mat-raised-button color="warn" style="margin-left: 10px;"
                                (click)="deleteVideoFromTopic(topic, vid)">Delete</button>
                                <button mat-raised-button style="margin: 10px; background-color: rgb(8, 223, 8);"
                                *ngIf="!vid.paid" (click)="paidUnpaidVideo(vid, true)">Make Paid</button>
                                <button mat-raised-button style="margin: 10px; background-color: white;"
                                *ngIf="vid.paid" (click)="paidUnpaidVideo(vid, false)">Make Free</button>
        
                            </mat-toolbar>
                            <h3>{{vid.embedLink}}</h3>
                            <h3>{{vid.paid}}</h3>
                            <h3>{{vid.active}}</h3>
                        </mat-card>
                    </div>
                    <mat-card [class.mat-elevation-z8]="true" style="margin-bottom: 10px;"
                    *ngIf="(this.auth.currentUser | async) === null">
                        <h3>{{vid.embedLink}}</h3>
                        <h3>{{vid.paid}}</h3>
                        <h3>{{vid.active}}</h3>
                    </mat-card>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>