<footer class="footer-section">
    <div class="container">
      <div class="footer-cta pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-md-4 mb-30 "  style="padding-top: 5px;">
            <div class="single-cta">
              
              <div class="cta-text">
                <h4>Find us</h4>
                <span>Mulund(W),Mumbai-400080</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30"  style="padding-top: 5px;">
            <div class="single-cta">
              
              <div class="cta-text">
                <h4>Call us</h4>
                <span>9028672630</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30"  style="padding-top: 5px;">
            <div class="single-cta">
              
              <div class="cta-text">
                <h4>Mail us</h4>
                <span>nikhil.m2010@gmail.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p><a style="color:whitesmoke;" href="https://www.zinfinity.in">Copyright © 2020 by Zinfinity. Design and Developed by Zinfinity Technologies LLP </a></p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <!-- <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Contact</a></li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
