<footer class="footer-section">
    <div class="container">
      <div class="footer-cta pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-md-4 mb-30 "  style="padding-top: 5px;">
            <div class="single-cta">
              <i class="fas fa-map-marker-alt"></i>
              <div class="cta-text">
                <h4>Find us</h4>
                <span>Mulund(W),Mumbai-400080</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30"  style="padding-top: 5px;">
            <div class="single-cta">
              <i class="fas fa-phone"></i>
              <div class="cta-text">
                <h4>Call us</h4>
                <span>7743856413</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30"  style="padding-top: 5px;">
            <div class="single-cta">
              <i class="far fa-envelope-open"></i>
              <div class="cta-text">
                <h4>Mail us</h4>
                <span>abc@zinfinity.in</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-content pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-logo">
                <a><img src="../../../assets/Logo.JPG" class="img-fluid" alt="logo"></a>
              </div>
              <div class="footer-text">
                <p> Share market necessary for multiple companies to generate big projects such as development of multiple products
                   </p>
              </div>
             
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Useful Links</h3>
              </div>
              <ul style="display: flex; flex-direction:column; ">
                <li><a href="#">Home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Get Updates</h3>
              </div>
              <div class="footer-text mb-25">
                <p>Subscribe to get notified of our upcoming Trips.</p>
              </div>
              <div class="subscribe-form">
                <form action="#">
                  <input type="text" placeholder="Email Address">
                  <button><i class="fas fa-envelope-square"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-social-icon">
      <span style="color: white; text-align: center;">Follow us</span>
      <div style="display: flex; flex-direction: row; list-style-type: none; justify-content: center;">
      <li><a href="https://www.facebook.com/gooffline2020-100395794864691/" title="Facebook" target="_blank">
          <i class="fab fa-facebook-square facebook-bg" aria-hidden="true"></i></a></li>
      <li><a href="https://instagram.com/gooffline2020?igshid=1lubto2ewa889" title="instagram" target="_blank">
          <i class="fab fa-instagram instagram-bg" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/OfflineGo?s=09" class="icoTwitter" title="Twitter" target="_blank">
          <i class="fab fa-twitter twitter-bg" aria-hidden="true"></i></a></li>
        </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p><a style="color:whitesmoke;">Copyright © 2020 by Zinfinity. Design and Developed by Zinfinity Technologies LLP </a></p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
