::ng-deep .mat-dialog-container{
    padding: 0 !important;
}
.signUp-div{
    display: flex;
justify-content: center;
 flex-direction: row;
}
.logo-img{
    height: 130px;
     width: 300px;

}

@media  (max-width: 700px) {
    .signUp-div{
        display: flex;
        justify-content: center;
         flex-direction: column;
        }

}

@media  (max-width: 400px) {
    .logo-img{
        height: auto;
         width: 200px;
         
    }   
}