.main{
    padding-top: 90px;
    width: 100%;
    display: flex;
    
}
.sec-1{
    background-color: white;
    
      display: flex;
       justify-content: space-between;
        flex-direction: row;
        padding-top: 20px;
        margin-bottom: 60px;
        
}
.srch-btn{
    font-size: 15px; 
    width: 40%;
    margin-top: 20px;
}
.btn{
    padding: 2px;
}

h2,h3,button{
    font-family: 'Poppins', sans-serif !important
}
.tab{
    font-family: 'Poppins', sans-serif !important
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-family: 'Poppins', sans-serif !important;
    font-size: large;
    
    
    }
   
    ::ng-deep .mat-form-field{
        font-family: 'Poppins', sans-serif !important;
    }

::ng-deep .card {
    border: none;
}

::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,#e94f07) !important;
    }
    

   
@media (max-width: 600px){
    .sec-1{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .srch-btn{
        font-size: 15px; 
        width: 100%;
        padding-top: 10px;
    }
}

.card{
    flex: 0 0 auto;
    margin-bottom:20px !important ;
    margin: 0 auto;
    width:340px;
    font-family: 'Poppins', sans-serif !important
}

.main_card{
    flex: 0 0 auto;
    
   
}

::-webkit-scrollbar {
    display: none !important;
}


.btn-main{
    display: flex; 
    justify-content: center;
    
}
.course-card{
    
    margin: 0 auto;
    width: 360px; 
    border-left: 1px groove #3f51b5;    
}

img{
    height: 327px; 
    width: 327px;
}

@media (max-width: 450px) {
    .btn-main{
        display: flex; 
        justify-content: center;
         flex-direction: column;
    }
    .btn{
        width: 90%;  
    }  
    .card{
        margin: 0 auto;
        width:270px;
       margin-bottom: 20px;
       border: none !important;
    }

   
    
    
}

.addbtn{
    width: 30%; 
    height: 50px;
}


::ng-deep .mat-dialog-container{
    padding: 0 !important;
}

    .cardplacement{
        display: grid;  
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        // margin: 10px; 
        justify-content: start; 
        cursor: pointer;
    }

@media (min-width: 320px) and (max-width: 480px) {
    .cardplacement{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        justify-content: start; cursor: pointer;
        
    }

    .addbtn{
        width: 100%; 
        height: 50px;
    }
   .card{
       margin-top: 70px;
   }

   .course-card{
    margin-bottom: 20px;    
    width: 270px !important; 
    border-left: 1px groove #3f51b5 !important;
}
img{
    height: auto;
    width: 100%;
}
.btn{
    width: 90% !important;
}
.issue{
    margin-left: 8px !important;
}
}


@media (min-width: 768px) and (max-width: 1024px) {
  
    .cardplacement{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center; 
        cursor: pointer;
    }

    .card{
        margin-top: 70px;
        width: 500px;
    }
    .course-card{
        margin-bottom: 20px;
        width: 650px !important; 
        border-left: 1px groove #3f51b5 !important;
    }
    img{
        height: auto;
        width: 100%;
    }
   
  }
  h2{
    margin: 0;
  }
  h3{
    margin: 0;
  }



