.main{
    padding-top: 90px;
    width: 100%;
    display: flex;
    
}
.sec-1{
    background-color: white;
    
      display: flex;
       justify-content: space-between;
        flex-direction: row;
        padding-top: 20px;
        margin-bottom: 60px;
        
}
.srch-btn{
    font-size: 15px; 
    width: 40%;

    margin-top: 20px;
}
.btn{
    padding: 2px;
}

h2,h3,button{
    font-family: 'Poppins', sans-serif !important
}
.tab{
    font-family: 'Poppins', sans-serif !important
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-family: 'Poppins', sans-serif !important;
    font-size: large;
    
    }

    ::ng-deep .mat-form-field{
        font-family: 'Poppins', sans-serif !important;
    }



@media (max-width: 600px){
    .sec-1{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .srch-btn{
        font-size: 15px; 
        width: 100%;
        padding-top: 10px;
    }
}

.card{
    flex: 0 0 auto;
    margin-bottom:20px !important ;
    margin: 0 auto;
    width:340px;
    font-family: 'Poppins', sans-serif !important
}

.main_card{
    flex: 0 0 auto;
    margin-right:20px ;
   
}

::-webkit-scrollbar {
    display: none !important;
}


.btn-main{
    display: flex; 
    justify-content: center;
    
}
.course-card{
    
    margin: 0 auto;
    width: 340px; 
    border-left: 1.5px groove #000;    
}

@media (max-width: 450px) {
    .btn-main{
        display: flex; 
        justify-content: center;
         flex-direction: column;
    }
    .btn{
        width: 90%;  
    }  
    .card{
        margin: 0 auto;
        width:270px;
       margin-bottom: 20px;
    }
    .course-card{
        
        width: 250px; 
        border-left: 1.5px groove #000 !important;
    }
    
}
@media (min-width: 320px) and (max-width: 600px) {
   
}

::ng-deep .mat-dialog-container{
    padding: 0 !important;
}
@media (min-width: 480px) {
    .cardplacement{
        display: grid;  
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        // margin: 10px; 
        justify-content: start; 
        cursor: pointer;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .cardplacement{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        justify-content: start; cursor: pointer;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .cardplacement{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
 
        justify-content: start; cursor: pointer;
    }
}

