<div style="display: flex; width: 100%;">
<mat-tab-group animationDuration="20ms" class="main">
  <mat-tab class="tab" label="Users" > 
    <!-- <mat-toolbar style="background-color: white; margin-left: 2%;"> -->
      <mat-toolbar class="sec-1">
        <button  mat-raised-button color="primary" class="addbtn"><mat-icon>add</mat-icon></button>
        <mat-form-field class="srch-btn"  appearance="outline">
          <mat-label>Search By Name</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="type name of user">
        </mat-form-field>      
      </mat-toolbar>    
    <!-- </mat-toolbar> -->
    <div class="cardplacement" >
      <div *ngFor="let element of usersObs | async" class="card" > 
        <mat-card style=" border-left: 1px groove #3f51b5" 
        [class.mat-elevation-z8]="true" class="ccrd">
        <button mat-icon-button style="color: rgb(247, 11, 11);"
        *ngIf="!element.loggedIn"><mat-icon>circle</mat-icon></button>
        <button mat-icon-button style="color: rgb(11, 247, 27);"
        *ngIf="element.loggedIn"><mat-icon>circle</mat-icon></button>
            <div style="display: flex; justify-content: start; background-color: white;
            border-radius: 15px; padding: 10px; color: black; flex-direction: column;">
              <h2>Name : {{element.name}}</h2>
              <h3>Email : {{element.email}}</h3>
              <h3>LoggedIn : {{element.loggedIn}}</h3>
              <h3>Roles : {{element.roles}}</h3>
              <h3>Permission :</h3> 
              <mat-list role="list" *ngFor="let per of element.permissions" style="width: 90%;">
                <mat-list-item role="listitem"
                style="display: flex; width: 100%; flex-direction: row; justify-content: space-between;">
                  <div style="">{{per}}</div>
                  <button mat-icon-button style="margin-left: 20px;"(click)="deletePermission(element.id, per)">
                    <mat-icon style="font-size: 18px; color: red;"
                    >delete</mat-icon>
                  </button> 

                </mat-list-item>
                <mat-divider style="width: 60%;"></mat-divider>

              </mat-list>

            </div>
            <mat-card-actions class="btn-main">
              
                <button  class="btn issue" mat-stroked-button color="primary" (click)="addPermission(element.id)">Add Permission</button>
                <br>
                <button class="btn" mat-stroked-button color="accent" (click)="logOutAcc(element)">LogOut</button>
                <br>
                <button class="btn" mat-stroked-button color="warn" (click) = "deactivateAcc(element)">Deactivate</button>
            </mat-card-actions>
        </mat-card>
      </div>

  </div>  
  </mat-tab>
  <mat-tab class="tab" label="Courses"> 
    <mat-toolbar style="background-color: white; margin-top: 10px;">
      <button mat-raised-button color="primary" (click)="addCourse()" class="addbtn"><mat-icon>add</mat-icon></button>
    </mat-toolbar><br><br>
    <div class="cardplacement" >
        <div *ngFor="let element of courses" class="main_card"> 
          <mat-card   [class.mat-elevation-z8]="true" class="course-card">
              <div style="display: flex; justify-content: start; background-color: white;
              border-radius: 15px; padding: 10px; color: black; flex-direction: column;">
                <button mat-icon-button style="color: rgb(247, 11, 11);"
                *ngIf="!element.active"><mat-icon>circle</mat-icon></button>
                <button mat-icon-button style="color: rgb(11, 247, 27);"
                *ngIf="element.active"><mat-icon>circle</mat-icon></button>
                <h3>id : {{element.id}}</h3>
                <h2>{{element.title}}</h2>
                <h2>active : {{element.active}}</h2>
              </div>
              <mat-card-content>
                  <img [src]="element.img">
              </mat-card-content>
              <mat-card-actions style="display: flex; justify-content: space-between;">
                  <button mat-stroked-button color="primary"
                  (click)="goToCourseDetail(element.id)">View Details</button>
                  <button mat-stroked-button  style="
                  background-color: rgb(177, 13, 27); color: white;" 
                  (click)="deleteCourse(element)">Delete</button>
              </mat-card-actions>
          </mat-card>
        </div>
  
    </div>
    <br><br>
  </mat-tab>
  <mat-tab class="tab" label="Subscription Requests"> 
    <app-view-all-subscription-resuest></app-view-all-subscription-resuest>
  </mat-tab>
</mat-tab-group>
</div>