<mat-toolbar style="display: flex; justify-content: flex-end; position: relative;" color="primary">
    <mat-icon style="cursor: pointer;" (click)="dialogRef.close()">close</mat-icon>
</mat-toolbar>
<div style="display: flex;
justify-content: center; flex-direction: row;">
        <form [formGroup] = "addTopicForm" style="display: flex; flex-direction: column;
        justify-content: center; width: 90%; margin-top: 2%;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label >Title</mat-label>
                <input matInput placeholder="title" formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter the Description</mat-label>
                  <textarea #myText matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                   cdkAutosizeMinRows="15" cdkAutosizeMaxRows="15"
                   formControlName="dscp" (input)="onPaste(myText.value)"></textarea>
            </mat-form-field>
            <div formArrayName="videolink"
                *ngFor="let item of addTopicForm.get('videolink')['controls']; let i = index;"
                style="width: 100%;">
                <div [formGroupName]="i">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <div style="display: flex; justify-content: flex-end;flex-direction: row;">
                            <!-- <mat-label>Embed Video code</mat-label> -->
                            <button mat-icon-button color="warn"
                            (click)="removeElementFromArray(i)"><mat-icon>close</mat-icon></button>
                        </div>
                        <textarea  matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="15" cdkAutosizeMaxRows="15"
                        formControlName="video"></textarea>
                    </mat-form-field>
                </div>
            </div>
            
            <!-- <mat-checkbox formControlName="active" value="Active">Active</mat-checkbox>  -->

            <div style="display: flex; flex-direction: row; justify-content: space-around;">
                <button mat-stroked-button color="primary" 
                 (click)="addVideoLinkForm()" [disabled]="addTopicForm.invalid"
                style="width: 40%; float: right; margin-top: 5px; margin-bottom: 10px;">
                    Add Video Link
                </button>
                <button mat-raised-button color="primary" 
                [disabled]="addTopicForm.invalid" (click)="addTopic(addTopicForm.value)"
                style="width: 40%; float: right; margin-top: 5px; margin-bottom: 10px;">
                    Submit
                </button>
            </div>

        </form>
</div> 

