<div class="div-bnr">
    <div>
      <img src="../assets/banner.png" class="graphic-img">
    </div>
</div>
  <div style="display: flex; justify-content: center; flex-direction: column; margin-top: 50px;">
    <div style="display: flex; justify-content: start; margin-left: 3%;">
      <span class="cour-head" >Courses</span>
    </div>
    <br><br>
    <div class="cardplacement" style="margin-left: 2%; margin-right: 2%;">
      <div *ngFor="let element of courses"> 
        <mat-card style="margin: 20px; border-left: 1.5px groove #000" [class.mat-elevation-z8]="true" class="ccrd">
            <mat-card-content>
                <img [src]="element.img" class="card-img">
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-stroked-button color="primary" (click)="goToCourseDetail(element.id)">View Details</button>
                <button mat-stroked-button color="warn">Subscribe</button>
            </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>