<br><br>
<div class="main">
  <div class="banner">
    <img src="../assets/banner.png" class="graphic-img">
  </div>
  <div class="banner-side">

    <h1 class="title">Learn Share Market Trading</h1><br>
    <p>Learn Share market right from basics to advance in Marathi language. 
      Start learning right from 'what is share' to advance coarse like Future and Options with technical analysis. 
      Clear your doubts with Query. Happy trading.</p><br>
    <div id="content-desktop">
      <section class="content">
        <div class="search-bar" >
          <input type="text" routerLink="/search" class="search-bar__input" placeholder="Search Courses" aria-label="search" />
          <button class="search-bar__submit" aria-label="submit search" routerLink="/search">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </section>
    </div>
  </div>
</div>

<div style="display: flex;">
  <p class="courses">Courses</p>
</div>

<div id="content-mobile">
  <mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>Search By Name</mat-label>
    <input matInput routerLink="/search" placeholder="Search Course">
  </mat-form-field>
</div>

<div style="width: 100%; display: flex;">
  <div class="cardplacement">
    <div *ngFor="let element of courses">
    <div style="margin: 30px;" (click)="goToCourseDetail(element.id)">
      <img [src]="element.img" alt="courseImg" class="post__image"
        style="width: 100%; height: 330px; border-radius: 10px;">
      <div class="course_details">
        <h4 style="font-size: 17px;font-family: 'Bebas Neue', cursive; margin-bottom: 3px;">{{element.title}}</h4>
        <div>
          <button (click)="goToCourseDetail(element.id)" mat-mini-fab  aria-label="Example icon button with a info icon" 
           class="info" style="color: #3f51b5; background-color: aliceblue; outline: none;">
            <mat-icon>info</mat-icon>
          </button> &nbsp;

          <!-- <button mat-mini-fab  aria-label="Example icon button with a favorite icon" class="fav" style="color: red; background-color: aliceblue; outline: none;">
            <mat-icon>favorite</mat-icon>
          </button> -->
          <div class="main_subscribe">
          <!-- <button mat-stroked-button class="subscribe" >Subscribe</button> -->
        </div>
        </div>
      </div>
    </div>


  </div>
</div>
</div>

<!-- <div>
  <p class="courses">Get in touch</p>
</div>
<div class="contact">
  <app-contactus></app-contactus>
</div> -->
<br><br>



