.graphic-img{
    width: 100%;
    height: auto;
    // margin-left: 10%;
    // margin-right: 10%;
}
.card-img{
    height: auto; 
    width: 90%;
    margin: 5%;
    
}
.div-bnr{
    display: flex; 
    justify-content: center;
     width: 100%;
      padding-top: 90px;
}
.courses{
    font-size: 40px;
    font-family: 'Yeseva One', cursive;
    letter-spacing: 1px;
    margin-top: 7%;
    margin-bottom: 3%;

}

@media (min-width: 300px) and (max-width: 450px) {
    .div-bnr{
          padding-top: 70px !important;
    }
   
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .courses{
        font-size: 25px;
        font-family: 'Yeseva One', cursive;
        letter-spacing: 1px;
        margin-top: 7%;
        text-align: center;
        margin-bottom: 3%;
    
    }

  }
@media (min-width: 480px) {
    .cardplacement{
        background-color: rgb(250, 250, 250);
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 10px; 
        justify-content: start; 
        cursor: pointer;
    }
    
}
@media (min-width: 320px) and (max-width: 480px) {
    .cardplacement{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
        justify-content: start; cursor: pointer;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .cardplacement{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px; 
        justify-content: start; cursor: pointer;
    }
}
:host ::ng-deep .mat-card:not([class*=mat-elevation-z]){
    box-shadow: none;
}
@media (min-width: 480px) {
    .contact{
        background-color: rgb(250, 250, 250);
            border-radius: 5px;
            
    }
}
