<div style="height: 100%; width: 100%;">
  <mat-toolbar style="background-color: whitesmoke; display: flex; flex-direction: row;
    justify-content: space-between; position: fixed; z-index: 10; height: auto; " >
      <div  style=" cursor: pointer;" (click)="navigateToHome()">
        <img src="../assets/Logo.JPG" class="logo-img">
      </div>
      <div class="div-btn" *ngIf="(auth.currentUser | async) === null">
        <button mat-raised-button color="primary" (click) = "openLoginDialog()">Login</button>&nbsp;&nbsp;
        <button mat-stroked-button color="warn" (click) = "openSignupDialog()">Sign Up</button>
      </div>
      <div *ngIf="(auth.currentUser | async) != null" class="div-name" >
        <button mat-button [matMenuTriggerFor]="menu" color="primary" class="name-btn" >
          {{(auth.currentUser | async)?.name}}
        </button>
        <mat-menu #menu="matMenu" class="mat-menu-btn">
          <button mat-menu-item [routerLink]="['admin']" *ngIf="(auth.currentUser | async)?.roles.includes('ADMIN')">
            <mat-icon style="color: black;">https</mat-icon>Admin</button>
          <!-- <button mat-menu-item> -->
          <button mat-menu-item>
            <mat-icon style="color: brown;">article</mat-icon>My Courses</button>
          <button mat-menu-item>
            <mat-icon style="color: blue;">face</mat-icon>Profile</button>
          <button mat-menu-item (click) = "logOut()">
            <mat-icon style="color: red;">power_settings_new</mat-icon>Logout</button>
        </mat-menu>
        <!-- <button mat-stroked-button color="warn" (click) = "auth.logout()">Logout</button> -->
      </div>
  </mat-toolbar>
  <div style="z-index: 5; margin-left: 7%; margin-right: 7%;">
    <router-outlet></router-outlet>
  </div>
</div>
