.main{
    width: 100% !important;margin: 0 auto; height: auto; display: flex;
}

.contactus{
    
    margin-top: 40px; 
    display: flex;
    flex-direction: row ;
    width: 50%;
     padding: 3%;
    background-color: white;
}

.location{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 40px;
}
.name{
    width: 49%; 
    margin-right: 10px;
}
.phone{
    width: 49%
}
.submit{
    width: 48%;
}

.clr{
    width: 48%;
    float: right;
    background-color: rgb(224, 30, 30);
    color: white;
}

.mat-form-field{
    font-family: 'Poppins', sans-serif !important
}
@media (min-width: 320px) and (max-width: 480px) {
    
    .main{
        display: flex;
        flex-direction: column;
    }
    .contactus{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px; 
    }
    .location{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name{
        width: 100%; 
       
    }
    .phone{
        width: 100%

    }
    .clr{
        width: 100%;
    }
    .submit{
        width: 100%;
        margin-bottom: 10px;
    }
    .a1{
        width: 100%; display: flex;
        flex-direction: column;
      }
  }


  .a1{
    width: 100%; display: flex;
  }
  .a{
    display: flex; width: 50%;
  }
  .b{
    display: flex; width: 50%;
  }