<div class="main">
    <div class="contactus" [class.mat-elevation-z8]="true" >
        <form class="form" [formGroup]="ContactForm">
            <mat-form-field  class="name" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name"  formControlName="name" outline="appearance">    
            </mat-form-field>
            <mat-form-field  class="phone" appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" formControlName="form_phone" outline="appearance">    
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="form_email" outline="appearance">    
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Message" formControlName="form_message" style="height: 200px;"></textarea>    
            </mat-form-field>

            <button mat-raised-button color="primary" class="submit" [disabled]="ContactForm.invalid">Sumbit</button>
             <button mat-raised-button  class="clr">Clear</button>
 
        </form>

        <br/>


    </div>
    <div class="location" >
        <div style="width: 100%; padding: 5%;">
        <h1 class="why">WHY INDISTOX? </h1>
        <p style="color: blanchedalmond;">Monk-E is a 360° creative digital media organisation that unifies Talent 
            Management, Video Production, Social Media Management and Influencer Marketing 
            under one roof. Conceptualised by Viraj Sheth and Ranveer Allahbadia, we are an ensemble 
            set of young creators who specialise in all things digital.
        </p><br>

        <a href="" style="cursor: pointer;"><img src="../../../assets/location.PNG" alt="location" style="height: 250px; width: 100%;"></a>
        <button mat-raised-button class="direction" >Get Direction</button>
        <button mat-raised-button (click)="openBottomSheet()" class="follow">Follow us</button>
    </div>
    </div>

</div>
<br><br>

