.main{
    width: 100% !important;margin: 0 auto; height: auto; display: flex;
}

.contactus{
    
    margin-top: 40px; 
    margin-right: 30px;
    display: flex;
    flex-direction: row ;
    width: 47%;
     padding: 3%;
    background-color: white;
}

.location{
    display: flex;
    background-color: #e05915;
    flex-direction: row;
    width: 47%;
    margin-top: 40px;
    padding: 0%;
    
}
.name{
    width: 48%; 
    float: left;
}
.phone{
    width: 48%;
    float: right;
}
.submit{
    width: 48%;
}

.clr{
    width: 48%;
    float: right;
    background-color: rgb(224, 30, 30);
    color: white;
}

.mat-form-field{
    font-family: 'Poppins', sans-serif !important
}

.why{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.direction{
    width: 48%;
    margin-top: 18.8125px;
    color: #3F51B5;
}
.follow{
    width: 48%;
    float: right;
    margin-top: 18.8125px;
    color: orangered;
}
@media (min-width: 320px) and (max-width: 480px) {
    
    .main{
        display: flex;
        flex-direction: column;
    }
    .contactus{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px; 
    }
    .location{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name{
        width: 100%; 
       
    }
    .phone{
        width: 100%

    }
    .clr{
        width: 100%;
    }
    .submit{
        width: 100%;
        margin-bottom: 10px;
    }
    .why{
        margin-top: 20px;
    }
   
  }

