<div style="width: 100%;display: flex;margin: 0 auto; height: auto; ">
    <div class="contactus" [class.mat-elevation-z8]="true" >
        <form class="form">
            <mat-form-field  class="name" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name"  outline="appearance">    
            </mat-form-field>
            <mat-form-field  class="phone" appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone"  outline="appearance">    
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email"  outline="appearance">    
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Message"  style="height: 200px;"></textarea>    
            </mat-form-field>

            <button mat-raised-button color="primary" class="submit">Sumbit</button>
             <button mat-raised-button  class="clr">Clear</button>
 
        </form>

        <br/>


    </div>

</div>
<br><br>