.main{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex ;
    padding: 90px;
}

.profile{
    width: 20% !important;
}
.profile_info{
    width: 80% !important;
}
.mat-icon {
    font-size: 120px;
  }