<br><br>
<div class="main">
    <div class="profile">
        <div class="profilePic">
            
            <i class="fas fa-user" style="color: #3f51b5; font-size: 40px;"
            *ngIf="(currentUser | async).tempProfilePic === undefined"></i>&nbsp;
            
            <img [src]="(currentUser | async).tempProfilePic" *ngIf="(currentUser | async).tempProfilePic != undefined
            || (currentUser | async).tempProfilePic != null"
             style=" border-radius: 50%;width: 120px; height: 120px;">

             <div style="justify-content: center;margin-top: 10px; margin-left: 15px;">
                <button  mat-icon-button  *ngIf="!filebool" (click)="file.click()" >
                    <mat-icon style="color: black;">add_a_photo</mat-icon></button>
                <input type="file" #file hidden (change)=addFile($event)>
                <label *ngIf="imgName != undefined || imgName != null">{{imgName}}</label>
                <button mat-stroked-button color="warn" *ngIf="filebool"
                (click)="uploadProfilePic()">upload</button>
                <button mat-icon-button *ngIf="filebool"
                (click)="emptyFileContent()">
                    <mat-icon>cancel</mat-icon>
                </button>
    
            </div>
        </div>
        <div class="profileInfo">
            <button style="font-family: 'Poppins', sans-serif !important; 
            background-color: #cdcbec;padding: 10px; border: none; border-radius: 20px;">
                Name : {{(currentUser | async).name}}</button><br><br>
            <button style="font-family: 'Poppins', sans-serif !important; font-size: 15px; 
             background-color: #cdcbec;padding: 10px; border: none; border-radius: 20px; margin-top: 10px;">
                {{(currentUser | async).email}}</button>  
        </div>
        
        
    </div>

    <div style="display: flex; flex-direction: row; justify-content: start;">
        <h2 class="fav">Favourite</h2>
    </div><br>

    <div class="container1">
        <div class="layout-box" *ngFor="let course of (currentUser | async).favorites">
            <h4 style="color: honeydew;font-family: 'Poppins', sans-serif !important;">
                Course Id : {{course.courseId}}</h4>
            <h4 style="color: honeydew;font-family: 'Bebas Neue', cursive; 
        letter-spacing: 1px; font-size: large;">
                {{course.courseTitle}}</h4>
            <h4 style="color: honeydew;font-family: 'Poppins', sans-serif !important;">
                <button type="button" class="btn "
                    style="background-color: #3f51b5;border-radius: 50px; color: honeydew;">
                    {{course.coursePrice | currency:'INR'}}</button> 

            <button (click)="navigateToCourse(course.courseId)" mat-mini-fab
                aria-label="Example icon button with a info icon" class="info"
                style="color: #3f51b5; background-color: aliceblue; outline: none; float: right;">
                <mat-icon>info</mat-icon>
            </button></h4>

        </div>

    </div>
    <br>

    <div style="display: flex;  justify-content: start;" id="mycourse">
        <h2 class="fav">My Courses</h2>
    </div><br>

    <div class="container1" >
        <div class="layout-box1" *ngFor="let course of (currentUser | async).myCourses">
            <h4 style="color: honeydew;font-family: 'Poppins', sans-serif !important;">
                Course Id : {{course.courseId}}</h4>

            <h4 style="color: honeydew;font-family: 'Bebas Neue', cursive; 
            letter-spacing: 1px; font-size: large;">
                {{course.title}}</h4>

            <h4 style="color: honeydew;font-family: 'Poppins', sans-serif !important;">
                Status <button type="button" class="btn "
                    style="background-color: #f43a09;border-radius: 50px; color: honeydew;">
                    {{course.status}} </button></h4>

            <h4 style="color: honeydew;font-family: 'Poppins', sans-serif !important;">
                Message : {{course.message}}</h4>

                <button (click)="navigateToCourse(course.courseId)" mat-stroked-button
                style="color: white; background-color: transparent; outline: none; float: right;
                border: 2px solid white; width: auto; border-radius: 50px;">
                <mat-icon>info</mat-icon>
            </button>

        </div>

    </div>
    <br><br>