

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
    
#content-desktop {display: none;}
#content-mobile {display: block;}

}

.disabled-contenct {
    pointer-events: none;
    opacity: 0.4;
  }

html, body { height: 100%; 

  .mobileHide { display: inline; }

  /* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
     .mobileHide { display: none;}
  }
}
body { margin: 0;font-family: 'Poppins', sans-serif !important;
  min-height: 70vh !important;  height: 100%;
  
button{
    font-family: 'Poppins', sans-serif !important;
    
   
}}
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
